 <div class="b-container">
   <div class="b-container__comments">
     <div class="b-comments">
       <div class="b-comments__header">
         <h2>Comments list</h2>
       </div>
       <div class="b-comments__body">
         <div class="b-body">
           <fieldset><%
              if @comments.length == 0
                %> There are not comments<%
              end
              @comments.each do |comment|
           %><div class='b-body__item'>
             <h3 class='b-body__item-name'><%=comment.author %></h3>
              <%= comment.text %>
              <%= link_to 'Delete comment', comment_path(comment), method: :delete , class:'b-body__item-delete'%>
              </div>
             <% end %>

           </fieldset>
         </div>
       </div>
       <div class="b-comments__form">
           <h2>Add new comment</h2>
           <div class="b-form">
                 <%= form_for @comment do |f| %>
                       <%= f.text_field :author , :class => 'b-comments__formItem', :placeholder => 'Name'%>
                       <%= f.text_area :text  , :class => 'b-comments__formItem' , :placeholder => 'Comment text' %>
                       <%= f.submit :class =>'b-comments__formItem-button' %>
                 <% end %>
           </div>
       </div>
     </div>
   </div>
 </div>

